<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Tours and Travels</title>
    <!-- Basic bootstrap stylesheet -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <!-- Now add all required stylesheets -->
    <!-- Also change the title if necessary -->