<% include partials/header %>
    </head>

    <body>
        <!-- NAVBAR -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default navbar-btn">Log in</button>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://images.freeimages.com/images/large-previews/6d3/entrance-to-amber-palace-1542611.jpg" class="img-thumbnail">
                    <h2>Maanas Vohra</h2>
                    <h3>IIT2016067</h3>
                </div>
                <div class="col-md-4">
                    <img src="https://images.freeimages.com/images/large-previews/6d3/entrance-to-amber-palace-1542611.jpg" class="img-thumbnail">
                    <h2>Swapnil Gharat</h2>
                    <h3>IIT2016076</h3>
                </div>
                <div class="col-md-4">
                    <img src="https://images.freeimages.com/images/large-previews/6d3/entrance-to-amber-palace-1542611.jpg" class="img-thumbnail">
                    <h2>Austin Kispotta</h2>
                    <h3>IIT2016051</h3>
                </div>
            </div>
        </div>

        <% include partials/footer %>