<% include partials/header %>

    <link href="/css/about.css" rel="stylesheet" type="text/css" >
    </head>

    <body>
        <!-- NAVBAR -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <form action="/" method="GET"><button class="btn btn-default navbar-btn">Travel Bhai</button></form>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <% if(locals.username) { %>
                        <li>
                            <form action="/about" method="GET" class="nav-form"><button class="btn btn-default navbar-btn">About</button></form>
                            <form action="/profile/<%= username %>" method="GET" class="nav-form"><button class="btn btn-default navbar-btn"><%= username%></button></form>
                            <form action="/logout" method="GET" class="nav-form"><button class="btn btn-default navbar-btn">Logout</button></form>
                        </li>
                        <% } else { %>
                        <li>
                            <form action="/about" method="GET" class="nav-form"><button class="btn btn-default navbar-btn">About</button></form>
                            <form action="/login" method="GET" class="nav-form"><button class="btn btn-default navbar-btn">Log In</button></form>
                            <form action="/signup" method="GET" class="nav-form"><button class="btn btn-default navbar-btn">Sign Up</button></form>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="about-image" src="/images/maanas.jpg" class="img-thumbnail">
                    <h2>Maanas Vohra</h2>
                    <h3>IIT2016067</h3>
                </div>
                <div class="col-md-4">
                    <img class="about-image" src="/images/gharat.png" class="img-thumbnail">
                    <h2>Swapnil Gharat</h2>
                    <h3>IIT2016076</h3>
                </div>
                <div class="col-md-4">
                    <img class="about-image" src="/images/austin.jpg" class="img-thumbnail">
                    <h2>Austin Kispotta</h2>
                    <h3>IIT2016051</h3>
                </div>
            </div>
        </div>

        <div class="footer">
            <h5>Travel Bhai. All rights reserved.</h5>
        </div>


        <% include partials/footer %>