<% include partials/header %>

<link href="/css/login.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				 aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <form action="/" method="GET"><button class="btn btn-default navbar-btn">Travel Bhai</button></form>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="nav-form" action="/about" method="GET"><button class="btn btn-default navbar-btn">About</button></form>
						<form class="nav-form" action="/login" method="GET"><button class="btn btn-default navbar-btn">Log in</button></form>
						<form class="nav-form" action="/signup" method="GET"><button class="btn btn-default navbar-btn">Sign Up</button></form>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>



	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="https://i.imgur.com/jhlOB1c.png" class="img-responsive" alt="Responsive image">
			</div>
			<div class="col-md-6">
				<h1>Login Here</h1>
				<form class="align-middle" method="POST" action="/login">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="username">Username</label>
							<input type="text" class="form-control" id="username" placeholder="Username" name="username">
						</div>
						<div class="form-group col-md-6">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" placeholder="Password" name="password">
						</div>
					</div>
					<div class="text-center">
						<button class="btn btn-primary btn-lg">Submit</button>
					</div>
				</form>
				<form class="form-group" style="margin-top: 15px; text-align: center;" action="/signup" method="GET">
					<button class="btn btn-primary btn-lg" >New? Sign Up!</button>
				</form>
			</div>
		</div>
	</div>

<% include partials/footer %>