<% include partials/header %>

</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				 aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#">About</a>
					</li>
					<li>
						<button type="button" class="btn btn-default navbar-btn">Log in</button>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>



	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="https://i.imgur.com/jhlOB1c.png" class="img-responsive" alt="Responsive image">
			</div>
			<div class="col-md-6">
				<h1>Sign Up for an Account</h1>
				<form class="align-middle">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="exampleInputName2">First Name</label>
							<input type="text" class="form-control" id="exampleInputName2" placeholder="Peter">
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputEmail2">Last Name</label>
							<input type="text" class="form-control" id="exampleInputEmail2" placeholder="Parker">
						</div>
					</div>
					<div class="form-group col-md-12">
						<label for="exampleInputEmail">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail" placeholder="peterparker@iiita.ac.in">
					</div>
					<div class="form-group col-md-12">
						<label for="exampleInputPassword">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
					</div>

					<div class="form-group col-md-12">
						<label for="exampleInputName">Contact</label>
						<input type="text" class="form-control" id="exampleInputName2" placeholder="Phone Number">
					</div>
					<!--
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
-->
					<div class="text-center">
						<button class="btn btn-primary btn-lg" type="button">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>

<% include partials/footer %>