<% include partials/header %>

    <link href="/css/query.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="container">
            <div class="package-details">
                <div class="col-md-2">
                    <img src="https://images.freeimages.com/images/large-previews/6d3/entrance-to-amber-palace-1542611.jpg" alt="package-destination-image"
                        class="img-rounded destination-package-image">
                </div>
            </div>
        </div>

        <% include partials/footer %>