.nav-form {
    display: inline-block;
}

.about-image {
    width: 300px;
    height: 300px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
