html, body {
    width: 100%;
    height: 100%;
}

.package-details {
    background: #F5F5F5;
    padding: 15px;
    margin-bottom: 20px;
}

.destination-package-image {
    width: 100%;
}

.destination-package-interact {
    padding-top: 20px;
    padding-left: 120px;
}

.destination-package-destinfo {
    background: #F5F5F5;
}